body {
    font-family: Arial;
    text-align: center;
    background: #f5f5f5;
}

h1 {
    color: blue;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
}